<!--
  Generated template for the IndexPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title>Convertidor de divisas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>



  <ion-list>
    <button ion-item *ngFor="let item of paisesMostrar"  icon-start>
      <ion-icon  item-start>
        <img [src]="item.flag_img" />
      </ion-icon>
      {{ item.currencyId}}
    </button>
  </ion-list>
</ion-content>
